@media screen and (min-width: 1024px){
    body{
        header{
            height: 220px;
        }
        nav{ 
            margin-top: 15px;
            margin-bottom:15px;
        }
        footer{
            height: 250px;
        }
        main{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
@media only screen and (max-width: 320px){
    body{
        nav{
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }
}
